---
- name: Install MySQL 8.0
  ansible.builtin.yum:
    name: mysql-server
    state: present

- name: Start and enable MySQL service
  ansible.builtin.service:
    name: mysqld
    state: started
    enabled: true

- name: Create Morpheus database
  community.mysql.mysql_db:
    name: morpheus
    state: present
    encoding: utf8mb4
    collation: utf8mb4_general_ci

- name: Create MySQL user for Morpheus
  community.mysql.mysql_user:
    name: morpheus
    password: "{{ mysql_password }}"
    priv: "morpheus.*:ALL,SELECT,PROCESS,SHOW DATABASES,RELOAD"
    host: "%"
    state: present

- name: Flush MySQL privileges
  community.mysql.mysql_user:
    name: root
    host: localhost
    state: present
    update_password: on_create
